<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Scheduling System</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <!-- Back Button -->
        
        <!-- Register and Login Buttons -->
        <div style="position: absolute; top: 10px; right: 10px;">
            <a href="/register" class="btn">Register</a>
            <a href="/login" class="btn">Login</a>
        </div>
    <div class="container">
        <div class="header">
            <marquee>
            <h1>Welcome to the Appointment Scheduling System</h1>
            </marquee>
        </div>

        <div class="main">
            <div id="about">
                <h2>About Our Clinic</h2>
                <p>We are a top clinic that provides our clients with a variety of medical treatments.Our devoted team of experts is committed to giving our patients the best care possible in order to ensure their wellbeing.</p>
            </div>

            <div id="contact">
                <h2>Contact Details</h2>
                <p><strong>Address:</strong> 123 Clinic Street, Adamstown, Dublin, K78H7K8 </p>
                <p><strong>Phone:</strong> 0892689537</p>
                <p><strong>Email:</strong> chandulavu@clinic.com</p>
            </div>

            <div id="hours">
                <h2>Working Hours</h2>
                <p>Monday - Friday: 9:00 AM - 5:00 PM</p>
                <p>Saturday: 9:00 AM - 1:00 PM</p>
                <p>Sunday: Closed</p>
            </div>
        </div>
    </div>
</body>
</html>
